data_path: /media/storage/lvloi/projects/vlsp-2022/data/vlsp-2022/jsonl/vlsp_2022_abmusu_train_data_extractive.jsonl
tokenizer_path: NlpHUST/vibert4news-base-cased
pretrained_encoder_model_path: NlpHUST/vibert4news-base-cased
output_dir: tmp
architecture: roberta

num_train_epochs: 10
learning_rate: 5e-5
warmup_steps: 20
weight_decay: 0.0
batch_size: 5
save_checkpoint_step: 40
keep_checkpoint_max: 3
gradient_accumulate_steps: 1
logging_steps: 5
logging_first_step: true
max_grad_norm: 1.0
adam_epsilon: 1e-8
adam_betas: (0.9, 0.999)
grad_cache: true
chunk_size: 16
max_length: 512
dropout:

# inter encoder
inter_encoder:
  num_hidden_layers: 2

seed: 12345